.cities {
  padding-top: 5px;
}
.search {
  position: relative;
  padding-left: 10px;
  left: 15px;
}
.githubLink {
  position: relative;
  display: block;

  left: 10%;
}
#codeLink {
  text-decoration: none;
}
.city {
  position: relative;
  margin-top: 10px;
  margin-left: 5%;
}
.currentDate {
  color: gray;
}
.cloudy {
  color: gray;
}
.uk {
  font-size: 35px;
}
.bangor {
  font-weight: bold;
  font-size: 30px;
}
.currentCity {
  position: relative;
  left: 50%;
  display: block;
  margin-top: -8%;
}

ul {
  position: relative;
  margin-left: 85%;
  margin-top: -5%;
  color: cornflowerblue;
}
.wind {
  padding-top: 8px;
}
.humidity {
  position: relative;
  display: block;
  margin-left: 47%;
}
.measurements {
  position: relative;
  display: block;
  margin-top: 5%;
}
.degWind {
  position: relative;
  display: block;
  margin-left: 40%;
}
.currentTemperature {
  position: relative;
  display: block;
  margin-left: 85%;
  margin-top: -15%;
}
.temperature {
  position: relative;
  display: block;
  margin-top: -36%;
  margin-left: 40%;
  font-size: 35px;
}

#celsius {
  position: relative;
  display: block;
  margin-left: 64%;
  margin-top: -27%;
  text-decoration: none;
}

#fahreinheit {
  position: relative;
  display: block;
  margin-left: 78%;
  margin-top: -14.5%;
  text-decoration: none;
}
.slash {
  position: relative;
  display: block;
  margin-left: 75%;
  margin-top: -14%;
}

.active {
  color: black;
  cursor: default;
}
footer {
  position: relative;
  margin-top: 5%;
  color: grey;
  padding-bottom: 15px;
}

div.container {
  margin-left: 10%;
  padding-bottom: -10%;
  padding-top: 5%;
  border-style: ridge;
  margin-top: 5%;
  border-color: rgb(37, 158, 37);
  box-shadow: rgb(37, 158, 37);
}
